body {
    background-color: #DCDCDC;
}

.main {
    background-color: white;
    margin: 30px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.navigation-publish {
    background-color: #5bc0de;
}